{%extends "base.html" %}
{% block title %}Try it out{% endblock %}
{% block content %}
<form method = "POST">
    <h3 align="center">
      Try it out
    </h3>
  <br />
  <p1>Input your study notes below and see them turned into a flashcard question</p1>
    <div align="center">
    <textarea name = "note" id = "note" class = "form-control" placeholder = "Enter a study note that is less than 300 characters"></textarea>
    <button type="submit" class = "btn btn-primary">Create Flashcard</button>
    </div>
</form>
{% endblock %}