{%extends "base.html" %}
{% block title %}Try it out{% endblock %}
{% block content %}
<form method = "POST">
    

  <div class="container">
    <div class="jumbotron">
      <h1 align="display-4">
        Try it out
      </h1>
      <br />
      <p class="lead">Input a single study note below and see them turned into a flashcard question!</p>
      <hr class="my-4">
      <p>
        The flashcard will be formatted as a question and 4 possible answers, with one of the answers being correct.
      </p>
      <p>
        An example of a study note to try is "Abstraction in object-oriented programming is the principle of hiding the internal details of an object from the rest of the code."
      </p>
    </div>
  </div>
    <div align="center">
    <textarea name = "note" id = "note" class = "form-control" placeholder = "Enter a study note that is less than 300 characters"></textarea>
    <button type="submit" class = "btn btn-primary">Create Flashcard</button>
    </div>
</form>
<br />
{% if question %}
<form method = "POST">
<div class="container">
  <div class = "card">
    <div class="card-header">
      <h3 class="card-title"> Flashcard </h3>
    </div>
    <div class="card-body">
      <p><b>{{question}}</b></p>
      <br/>
      
      {% for answer, is_correct in answers %}
      <div class="</div>form-check">
        <input class="form-check-input" type="radio" name= "answer" id="{{answer}}">
        <label class="form-check-label" for="{{answer}}">
          {{answer}}
        </label>
      </div>
      {% endfor %}
    </div>
  </div>
  <button type="submit" class = "btn btn-primary">Submit answer</button>
</div>
</form>
{% endif %}
{% endblock %}